---
navtype: splash
title: home | abiram.me
layout: default
---

<div id="landing-splash">
    <div class="container">
        <div id="splash-text">Hi!<br>I'm <span id = "splash-name">Abiram</span>,<br> a coder who<br> loves ramen.</div>
    </div>
</div>

<div class="container" style="margin-top: 100px;">
    <h3>I'm a first year student at UNSW Sydney, studying computer science and electrical engineering.</h3>
    <p>I created this site to serve as a portfolio of some of the cool stuff I've done, and also so that I can publish some of the
        random thoughts I want to share with the world.<br>
    </p>
    <h2>recent projects.</h2>

    {% for project in site.data.projects %}
        {% include showcase.html type="Project" data=project %}
    {% endfor %}

    <h3>You can see more of what I'm working on <a href = "https://github.com/abiramen">here</a>.</h3>
    
    <h2>foreseeably asked questions.</h2>

    {% for question in site.data.faq %}
    <p>
        <strong>Q: {{ question.q }}</strong><br>
        {{ question.a }}
    </p>
    {% endfor %}
</div>
