---
title: home
layout: default
navtype: plain
---

<div id="landing-splash" class="splash">
    <div class="container">
        <div id="splash-text">
            <div id="splash-title">
                Hi! I'm <span id="splash-glow">Abiram</span>.
            </div>
            <div id="splash-desc">
                <span id="splash-line1"></span>
                <div id="cursor-1" class="flashing-cursor"></div><br>
                <span id="splash-line2"></span>
                <div id="cursor-2" class="flashing-cursor"></div>
            </div>
        </div>
    </div>
    <a id="scroll-arrow" class="page-anchor-offset" href="#showcase-section"><div class="icon">keyboard_arrow_down</div></a>
</div>

<section id="showcase-section">
    <div class="container">
        <h2>Recent posts and scribblings.</h2>
        
        {% assign project = site.posts[0] %}
        {% include showcase.html type="Post" data=project color="#d6a2c5"%}
        
        {% assign project = site.posts[1] %}
        {% include showcase.html type="Post" data=project color="#99ecfa"%}
        
        <h3 class="ralign"><a href="/posts">Read more here <span class="icon">keyboard_arrow_right</span></a></h3>
    </div>
</section>

<section id = "faq-section">
    <div class="container">
        <h2>FAQs, but the F stands for Foreseeably.</h2>
        
        {% for question in site.data.faq %}
        <p>
            <strong>Q: {{ question.q }}</strong><br>
            {{ question.a }}
        </p>
        {% endfor %}
    </div>
</section>

<script src="/assets/js/landing.js"></script>
