<footer>
    <div id = "footer-content">
        <div id="contact">
            <a href = "https://github.com/abiramen" target="_blank">GitHub: @abiramen</a><br>
            <a href = "https://twitter.com/abiramen" target="_blank">Twitter: @abiramen</a><br>
            println!("Email: {}@{}", "hi", "abiram.me");<br>
            println!("Discord: {}#{}", "abiramen", 2452);
        </div>
        <div class="centre" id="love-and-ramen" style="margin-bottom: 0.5rem">Made with <span class="icon">favorite</span> and ramen by Abiram</div>
        <img src="/assets/images/ramen-logo.png" id = "ramen-footer" width = "75px" alt="logo">
        <div id="footer-flavour">You're at the bottom of this page. Or are you?</div>
    </div>
</footer>
