<nav id = "navbar">
	<div class="container">
		<a href="/" id="navbar-logo">
			{% if include.navtype == "splash" %}
			<img src="/assets/images/ramen-splash.png" alt="logo" id="logo"/>
			{% else %}
			<img src="/assets/images/ramen-logo.png" alt="neon-logo" id="logo"/>
			{% endif %}
		</a>
		<div id="nav-right">
			<a href="/">home.</a>
			<a href="/projects">projects.</a>
			<a href="/writings">writings.</a>
		</div>
		<div id="nav-border"></div>
	</div>
</nav>

{% if include.navtype != "splash" %}
	<div style = "height: 73px"></div>
{% endif %}
