<nav id = "navbar">
    <div id="nav-contain">
        <a href="/" id="navbar-logo">
            <img src="/assets/images/ramen-logo.png" alt="neon-logo" id="logo"/>
        </a>
        <div id="nav-home">
            <a href="/" id="navbar-name">@abiramen</a>
        </div>

        <div id="nav-right">
            <a href="/projects">Projects</a>
            <a href="/posts">Posts</a>
        </div>

        <img src="/assets/images/hamburger.svg" alt="hamburger" id="hamburger"/>
        <div id="nav-border"></div>
    </div>
</nav>

<div id="overlay">
</div>
