<a href = "{{ include.data.permalink }}" class = "showcase-anchor" {% if include.type == "Project" %} target="_blank" rel="noopener noreferrer" {% endif %}>
    <div class = "showcase-item" id = "sc-{{ include.data.short }}">
        <div class="showcase-text">
            <div class="showcase-type">{{ include.type }}</div>
            <div class="showcase-title">{{ include.data.title }}{% if include.type == "Post" %}.{% endif %}</div>
            <div class="showcase-duration">{{ include.data.time }}</div>
            <div class="showcase-desc">{{ include.data.desc }}</div>
        </div>
        
        <style scoped>
            #sc-{{ include.data.short }} {
                box-shadow:
                    0 0 3px 2px #fff,  /* inner white */
                    0 0 9px 9px {{ include.color }}; /* outer cyan */
            }

        </style>
    </div>
</a>
    