nav {
    background-color: $navbar;
    width: 100%;
    padding: 0;
    position: fixed;
    z-index: 9999;
}

#nav-contain {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

nav * a {
    color: white;
    font-size: 1.3rem;
    font-family: 'Metropolis';
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

#navbar-name:hover {
    color: white;
}

nav * a:hover {
    text-decoration: none;
}

nav #nav-right a {
    padding: 0px 10px;
}

#nav-home {
    float: left;
    line-height: 3.5rem;
    padding: 0 0.2rem;
}

#nav-right {
    float: right;
    line-height: 3.5rem;
}

#navbar-logo {
    height: 3.5rem;
    float: left;
}

#logo {
    height: 3.5rem;
    padding: 0.5rem;
}
