---
---
#post-splash {
    background: #101010;
 
    background-image: url("/assets/images/brickwall.png");
}

.post-desc, .post-arrow {
    color: white !important;
}

#post-title {
    font-size: 2.4em;
    line-height: 1em;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}

#post-desc {
    font-size: 0.8em;
    font-weight: 600;
}

#post-head {
    font-weight: 400;
    font-size: 0.55em;
}

#post-contents{
    margin: 90px auto 90px auto;
    font-size: 1.2em;
    max-width: 800px;
}

#post-time {
    font-size: 0.55em;
    font-weight: 400;
}

#post-contents img {
    display: block;
    margin: 20px auto 20px auto;
}

#post-contents img .inline-img {
    display: inline-block !important;
    margin: 0 !important;
}


pre {
    background: #151515;
    color: #d6a2c5;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Cascadia Code';
}

code {
    color:  #d6a2c5;
    font-family: 'Cascadia Code';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Metropolis';
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 23px;
    font-weight: bold;
}

h5 {
    font-weight: bold;
}

.alert {
    background-color: transparent;
    color: #e9e9e9;
    text-align: justify;
    border-radius: 15px !important;
    margin: 0 auto;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    box-shadow:
        0 0 1px 1px #ddd,  /* inner white */
        0 0 4px 4px #99ecfa; /* outer cyan */
}

img {
    max-width: 100%;
}

details {
    margin: 15px 0px 50px 0;
    padding: 12px 15px 10px 15px;
    border-radius: 15px !important;
    box-shadow:
        0 0 1px 1px #ddd,  /* inner white */
        0 0 4px 4px #99ecfa; /* outer cyan */
    cursor: pointer;
}

details[open] {
    cursor: unset;
}
