---
---

@import "bootstrap/bootstrap";
$bg: #111111;

html, body {
    background-color: $bg;
    color: #e9e9e9;
    overflow-x: hidden;
    font-family: 'Metropolis';
    font-weight: 500;
    font-size: 16px;
    z-index: 1;
    scroll-behavior: smooth;
}

@import "blog";
@import "navbar";

.splash {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#landing-splash {
    background: rgb(211,255,255);
    background: linear-gradient(135deg, #a3d3ee, #d6add5);
    background-size: 130% 130%;
    animation-delay: -1s;
    animation: AnimateSplash 2s ease infinite;
}

@keyframes AnimateSplash {
    0% {background-position:0% 10%}
    50% {background-position:70% 71%}
    100% {background-position:0% 10%}
}

#splash-text {
    color: #263540;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 15px;
}

#splash-title {
    font-family: 'Metropolis';
    font-weight: 700;
    line-height: 120px;
    font-size: 3em;
    overflow-wrap: break-word;
}

#splash-name {
    font-weight: 800;
}

#scroll-arrow {
    text-decoration: none;
    font-size: 4em;
    color: #263540;
    margin: 0 auto;
    transition: transform 0.3s;
}

#scroll-arrow:hover {
    transform: scale(1.05);
}


h1, h2, h3 {
    font-family: 'Metropolis';
    font-weight: 800;
}

h3 {
    font-size: 23px;
}

.centre {
    text-align: center;
}

.ralign {
    text-align: right;
}

.ralign a, .project-item a {
    color: white;
}

.showcase-item {
    border-radius: 30px !important;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 1;
    transform: scale(1);
    transition: transform 0.2s;
}

.showcase-item:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.showcase-title {
    font-family: 'Metropolis';
    font-weight: 800;
    font-size: 2em;
}

.showcase-type {
    text-transform: uppercase;
    font-family: 'Metropolis';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
}

.showcase-duration {
    text-transform: uppercase;
    font-family: 'Metropolis';
    margin-top: -10px;
    font-size: 16px;
}

.showcase-desc {
    margin-top: 5px;
    line-height: 24px;
    font-size: 20px;
}

.showcase-anchor {
    color: white !important;
    text-decoration: none !important;
}

.showcase-anchor:hover {
    color: white !important;
}

a .showcase-item:hover {
    color: white;
    text-decoration: none !important;
}

#showcase-section {
    background: url("/assets/images/brickwall.png");
    padding-top: 130px;
    padding-bottom: 100px;
}

#faq-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

#projects-section {
    padding-top: 130px;
    padding-bottom: 70px;
}

#project-list {
    margin-bottom: 50px;
}

.project-item {
    margin: 30px 0 30px 0;
}

.project-title {
    font-weight: 800;
    font-size: 26px;
    margin-right: 5px;
}

.project-date {
    font-size: 16px;
}

.project-desc {
    font-size: 20px;
}

.icon {
    font-family: 'Material Icons Round';
    display: inline-flex;
    vertical-align: top;

}

footer {
    background: #050505;
    font-size: 15px;
    padding-top: 40px;
    padding-bottom: 30px;
    background-image: url("/assets/images/brickwall.png");
    display: grid;
}

#love-and-ramen {
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
}

#contact {
    text-align: center !important;
    color: white;
    font-family: 'Cascadia Code', monospace;
    font-size: 18px;
}

footer #ramen-footer {
    display: block;
    margin: 0 auto;
}

#footer-flavour {
    font-weight: 300;
    font-size: 10px;
    color: #666;
    text-align: center;
}

a {
    color: #98cade;
    transition: color 0.2s
}

a:hover {
    color: #d6a2c5;
    // color: #2a2dd4;
    text-decoration: underline;
    cursor: pointer;
}