---
---
.tag-item {
    margin: 5px 0 5px 0;
}
#post-tags {
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

.tag-link {
    font-weight: bold;
    margin: 0 3px 0 3px;
}

.tag-link:hover {
    text-decoration: none;
}

.post-tag {
    padding: 5px 7px 5px 8px;
    background: #99ecfa;
    border-radius: 20px;
    color: #151515;
    text-align: center;
}