---
---
.tag-item {
    margin: 5px 0 5px 0;
}
#post-tags {
    font-size: 16px;
    line-height: 2rem;
    font-weight: bold;
}

.tag-link {
    font-weight: bold;
    margin: 0 0.15rem;
}

.tag-link:hover {
    text-decoration: none;
}

.post-tag {
    padding: 0.3rem 0.4rem 0.3rem 0.45rem;
    margin: 0.2rem 0;
    background: #99ecfa;
    border-radius: 20px;
    color: #151515;
    text-align: center;
}
