<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
	<link rel="stylesheet" href="/assets/css/styles.css">
	<link rel="stylesheet" href="/assets/fonts/metropolis.css">
	<link rel="shortcut icon" href="/assets/images/ramen-logo.png" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
	
		{% include navigation.html navtype=page.navtype %}
		
	<section>
		{{ content }}
	</section>

	<footer>
		<div id = "footer-content">
			<div class="centre" id="love-and-ramen">Made with ❤ and ramen by Abiram</div>
			<img src="/assets/images/ramen-logo.png" id = "ramen-footer" width = "100px" alt="logo">
			<div id="footer-flavour">You're at the bottom of this page. Or are you?</div>
		</div>
	</footer>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
		crossorigin="anonymous"></script>
	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" 
		crossorigin="anonymous"></script>

	{% if page.navtype == "splash" %}
	<script src="assets/js/splash.js"></script>
	{% endif %}
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
		crossorigin="anonymous"></script>
	
  </body>
</html>