---
layout: default
---
<link rel="stylesheet" href="/assets/css/post.css"/>
<link rel="stylesheet" href="/assets/css/tags.css"/>

<div id="post-splash" class="splash">
    <div class="container">
        <div id="splash-text" class="post-desc">
            <span id="post-head">
                {{ page.time }} {% if page.last-update %} (Updated {{ page.last-update }}) {% endif %}
            </span>
            <div id="post-title">{{ page.title }}.</div>
            <div id="post-desc">{{ page.desc }}</div>
            <div id="post-tags">
                Tags:
                {% for tag in page.tags %}
                {% assign tag_slug = tag | strip %}
                <a class="tag-link" href={{ site.baseurl | append: "/tags/" | append: tag_slug }}
                    rel="category tag">
                    <span class="post-tag">{{ tag }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <a id="scroll-arrow" class="page-anchor-offset post-arrow" href="#post-contents">
        <div class="icon">keyboard_arrow_down</div>
    </a>

</div>

<div id="post-contents" class="container">
    {{ content }}
</div>