---
layout: default
---

<div id="post-splash" class="splash">
    <div class="container">
        <div id="splash-text" class="post-desc">
            <span id="post-head">POST</span>
            <div id="post-title">{{ page.title }}.</div>
            <div id="post-desc">{{ page.desc }}</div>
            <div id="post-date">
                {% if page.last-update != "" %}
                Updated {{ page.last-update }}. First posted {{ page.time }}. 
                {% else %}
                Posted {{ page.time }}.
                {% endif %}
            </div>
        </div>
    </div>
    <a id="scroll-arrow" class="page-anchor-offset post-arrow" href="#post-contents">
        <div class="icon">keyboard_arrow_down</div>
    </a>

</div>

<div id="post-contents" class="container">
    {{ content }}
</div>

